@media (min-width: 0px) and (max-width: 330px) {
.right-side-production {
	padding-top: 0px;
	width: 98vw;
	margin-left: 2vw;
	margin-left: 0vw;
	min-height: 300px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	/*flex-direction: column;*/
}


.laptop {
	display: none;
}

.mobile {
	display: block;
}

.mobile-screen-header {
	z-index: 20;
	position: fixed;
	width: 100vw;
	height: 80px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mobile .h1-width-box {
	width: 90vw;
	margin-left: 5vw;
	padding-top: 80px;
}

/*.cart-php .mobile_header {
	margin-top: -23px;
}*/

#box {
	background: #fff;
	width: 100vw;
	height: 100vh;
	z-index: 9;
	position: fixed;
}

.mobile-menu {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 90;
	padding-top: 100px;
}

.mobile-menu a{
	text-decoration: none;
}

.mobile-menu_div {
	width: 90vw;
	padding-left: 8vw;
	margin-top: 20px;
	color: #333;
	font-size: 28px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.mobile-menu_div ul{
	margin: 0px;
	padding: 0px;
}

.mobile-menu_div ul li{
	font-size: 22px;
	padding: 5px 0 5px 0;
	color: #333;
	list-style: none;
}

.mobile-menu_div ul li:before{
	content: "- ";
}



.mobile_header {
	background: #fff;
	width: 100vw;
	height: 80px;
	position: fixed;
	z-index: 10;
}

.mobile_header_wrapper {
	width: 100vw;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mobile_header-burger {
	width: calc(100vw/3);
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 5vw;
}

.mobile_header-burger img{
	height: 35px;
}

.mobile_header-logo {
	width: calc(100vw/3);
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mobile_header-logo img{
	height: 50px;
}

.mobile_header-cart {
	width: calc(100vw/3);
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 5vw;
}

.mobile_header-cart img{
	height: 28px;
}





input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}


body{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}



.wrapper {
	width: 100vw;
	/*min-height: 100px;*/
	margin-left: auto;
	margin-right: auto;
}


.item-wrapper {
	margin-top: 0px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	min-height: 50vh;
	flex-direction: column;
	background: #fff;
}

.left-side-block {
	/*overflow: hidden;*/
	z-index: 1;
	padding-top: 80px;
	width: 100vw;
	min-height: 100px;
}

.left-side-block h2{
	margin-top: 60px;
	margin-bottom: 20px;
	color: #333;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.right-side-block {
	/*padding-bottom: 5vh;*/
	z-index: 2;
	/*padding-top: 80px;*/
	padding-left: 5vw;
	width: 100vw;
	min-height: 100px;
	/*box-shadow: -3px 7px 20px #777;*/
}

.left-side-block_img {
	transition: .3s;
	width: 100vw;
	height: 70vh;
	position: relative;
	box-shadow: -3px 7px 20px #d5d5d5;
	
}

.left-side-block_img_in{
	transition: .2s;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 70vh;
	position: absolute;

}

.left-side-block_img_in img{
	width: 110%;
	position: absolute;


}

.item-name {
	margin-top: 20px;
	color: #333;
	font-size: 30px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.right-side-block h2 {
	margin-top: 5vh;
	color: #666;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}



.item-into-cart {

	cursor: pointer;
	transition: .2s;
	box-shadow: -3px 7px 20px #d5d5d5;
	margin-top: 40px;
	width: 200px;
	padding: 15px 20px 15px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: #333;
	font-size: 17px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.item-into-cart:hover {
	box-shadow: -3px 7px 20px #b5b5b5;
	transform: translateY(-3px);
}

.about-item {
	width: 80vw;
	margin-left: 0vw;
	margin-top: 0px;
	color: #333;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.item-scale-buttons {
	width: 100vw;
	min-height: 140px;
	margin-top: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}


.item-scale-buttons ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}


.item-scale-buttons ul li {
	margin-bottom: 10px;
	color: #333;
	cursor: pointer;
	display: inline;
	transition: .2s;
	margin-right: 10px;
	box-shadow: -3px 7px 20px #e8e8e8;
	background: #FFEAD1;
	border-radius: 6px;
	width: 92px;
	height: 130px;
	padding: 10px 7px 10px 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}



.item-scale-buttons ul li:hover {
	background-color: #777;
	color: #fff;
	box-shadow: -3px 7px 20px #a5a5a5;
	transform: translateY(-6px);
}

.item-scale-buttons ul li.active {
	box-shadow: -3px 7px 20px #a5a5a5;
	background-color: #444;
	color: #FFEAD1;
	transform: translateY(-4px);
}



.scale-button:hover {
	box-shadow: -3px 7px 20px #b5b5b5;
	transform: translateY(-3px);
}



.scale {
	/*color: #333;*/
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.howmuch {
	text-align: center;
	margin-top: 10px;
	/*color: #333;*/
	font-size: 12px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.price {
	margin-top: 10px;
	/*color: #333;*/
	font-size: 15px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

/*СЛАЙДЕР*/

.single-slide {
	/*margin-top: 40px;*/
	width: 100vw;
	height: 100vh;
}


.content_slider-box {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.single-slide-content {
	text-shadow: 2px 2px 20px #444;
	width: 100vw;
	height: 100vh;
	position: absolute;
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.single-slide-content h1{
	/*margin-left: 60px;*/
	width: 100%;
	padding-left: 5vw;
	padding-right: 5vw;
	text-align: center;
	/*margin-top: 150px;*/
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	font-family: 'Noah Black';
}

.single-slide-content h2{
	/*margin-left: 60px;*/
	width: 100%;
	/*text-align: left;*/
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	font-family: 'Noah Black';
}

.single-slide-content h3{
	/*margin-left: 60px;*/
	width: 100%;
	text-align: left;
	color: #fff;
	font-size: 30px;
	font-weight: 300;
	font-family: 'Noah Heavy';
}

.single-slide-content h4{
	text-decoration: line-through;
	/*margin-left: 60px;*/
	width: 100%;
	text-align: left;
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	font-family: 'Noah Black';
}

a .single-slide-button{
	text-decoration: none;
	color: #111;
}

.single-slide-button {
	/*margin-left: 60px;*/
	transition: .3s;
	/*margin-left: 25%;*/
	/*margin-right: auto;*/
	font-size: 20px;
	font-weight: 300;
	font-family: 'Noah Medium';
	border: none;
	width: 200px;
	height: 50px;
	margin-top: 30px;
	background: #FFEAD1;
}

.single-slide-button:hover {
	transform: translateY(-5px);
}




.single-slide-img {
	background-color: #666;
	padding-bottom: 100px;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.single-slide-img img {
	margin-top: 80px;
	opacity: .7;
	transition: .4s;
	width: 300vw;
}

/*ФУТЕР*/

.footter {
	padding-top: 30px;
	border-top: 1px solid #fafafa;
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	min-height: 100px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 30px;
}

.footter div{
	text-align: center;
	font-family: 'Noah Medium';
	width: 100vw;
	min-height: 100px;
}

.footter div ul{
	margin: 0;
	padding: 0;
}

.footter__contacts {
	text-align: center;
}

.footter__moscow {
	text-align: center;
	font-size: 50px;
}


.footter div ul li{
	margin: 10px 0px 10px 0px;
	font-size: 16px;
	color: #444;
	list-style: none;
}




.networks {
	padding-top: 10px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
}



.networks_item {
	transition: 0.3s;
	margin-left: 3px;
	margin-right: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	float: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #444; 
}



.networks_item:hover {
	background: #666; 
}



.networks_item img{
	width: 33%;
}


.header-h1 {
	width: 100%;
	height: 100px;
}

.header-h1 h1 {
	color: #222;
	font-weight: 300;
	font-size: 40px;
	font-family: 'Noah Heavy';
}




/*ШАПКА*/


.header {
	width: 100%;
	height: 80px;
	background-color: #fff;  
	display: flex;
	align-items: center;
	justify-content: center;
	/*box-shadow: -3px 7px 20px #e5e5e5;*/
}

.logo {
	transition: .3s;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 80px;
	color: #222;
	font-size: 25px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.phone-number {
	transition: .3s;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 250px;
	height: 100%;
	color: #555;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Noah Medium';
}

.logo a img{
	margin-top: -4px;
	margin-right: 5px;
	height: 60px;
}

 .logo a{
 	color: #222;
	text-decoration: none;
}

 .logo a:hover{
 	color: #444;
	text-decoration: none;
}

.menu {
	padding-top: 7px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 370px;
	height: 100%;
	color: #222;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Noah Medium';
}

.menu ul li{
	transition: .3s;
	list-style: none;
	display: inline-block;
	margin: 5px 0px 5px 0px;
	padding: 15px 10px 15px 10px;
}

.menu ul li:hover{
	color: #666;
	transform: translateY(-3px);
}

.menu ul a li{
	text-decoration: none;
	color: #444;
}

.header-contacts {
	width: 220px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.header-cart {
	width: 100px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header-cart img{
	width: 30px;
	
}

.networks-header {
	padding-top: 45px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
}



.networks_item-header {
	transition: 0.3s;
	margin-left: 3px;
	margin-right: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background: #ddd; 
}



.networks_item-header:hover {
	background: #666; 
}



.networks_item-header img{
	width: 35%;
}

/*КАРТОЧКА ТОВАРА*/

.index-items-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 96vw;
	margin-left: 2vw;
	min-height: 100px;
}

.production-good-margin {
	margin: 10px;
}

.index-items-wrapper a:hover {
	text-decoration: none;
}

.good a:hover .good-content{
	text-decoration: none;
}

.good {
	transition: .3s;
	overflow: hidden;
	width: 240px;
	min-height: 100px;
	box-shadow: -3px 7px 20px #e5e5e5;
}

.good:hover {
	transform: translateY(-3px);
	overflow: hidden;
	width: 240px;
	min-height: 100px;
	box-shadow: -3px 7px 20px #c5c5c5;
}

.good-photo {
	width: 240px;
	height: 240px;
	position: relative;
}

.good-photo-img {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 240px;
	height: 240px;
	position: absolute;
	background-color: #fff;
	
}

a .good-photo-img {
	color: #333;
	font-family: 'Noah Medium';
	font-size: 18px;
}

.good-photo-img img{
	width: 150%;
}

.good-content {
	padding: 20px;
	width: 290px;
}

.good-name {
	/*margin-top: 20px;*/
	color: #222;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Noah Heavy';
}

.good-price {
	margin-top: 10px;
	color: #555;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Noah Medium';
}

.good-buttons {
	transition: .3s;
	display: flex;
	align-items: center;
	padding-left: 20px;
	height: 50px;
	width: 100%;
	color: #444;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Noah Medium';
	background: #fafafa;
}

.good:hover .good-buttons {
	background: #f1f1f1;
}

.good:hover .good-buttons img{
	transition: .3s;
	margin-left: 185px;
	width: 15px;
}



.good-buttons img{
	transition: .3s;
	margin-left: 10px;
	width: 15px;
}



/*ИНСТАГРАМ*/

.instagram {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 90vw;
	margin-left: 5vw;
}


.instphoto {
	margin-bottom: 10px;
	width: 44vw;
	height: 44vw;
	overflow: hidden;
	position: relative;
}

.instphoto:hover .hover{
	background: #555;
	opacity: 0.7;
	display: flex;
	justify-content: center;
	align-items: center;
}

.instphoto:hover .hover img{
	display: block;
}

.instphoto .hover img{
	transition: 0.3s;
	width: 20%;
	display: none;
}

.instphoto img{
	z-index: 1;
	width: 100%;
	position: absolute;
}

.hover {
	transition: 0.3s;
	z-index: 2;
	width: 100%;
	height: 100%;
	position: absolute;
}



/*ПРОДУКЦИЯ*/







h1 {
	padding-left: 0vw;
	padding-top: 0px;
	color: #333;
	font-weight: 600;
	font-family: 'Noah Black';
}

h1 span {
	padding-left: 30px;
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	font-family: 'Noah Black';
}

h1 span a{
	text-decoration: none;
	color: #fff;
	font-family: 'Noah Black';
}

h1 span a:hover{
	text-decoration: none;
	color: #fff;
}


.left-side-production h3 {
	color: #444;
}


#p_prldr{
position: fixed;
display: flex;
align-items: center;
justify-content: center;
left: 0;
top: 0;
right:0;
bottom:0;
background: #FFEAD1;
z-index: 30;
}

#p_prldr img{
	width: 100px;
}

.production-category {
	padding: 0;
	margin: 0;
	margin-top: 50px;
	list-style: none;
	font-size: 18px;
	color: #222;
	font-weight: 600;
	font-family: 'Noah Black';
}

.production-category li{
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
}

.production-category li img{
	width: 15px;
}

.left-side-production  ul a{
	color: #333;
	text-decoration: none;
}

.left-side-production ul a:hover{
	color: #666;
	text-decoration: none;
}
 



.active-photo-index {
	transition: .3s;
	z-index: 100;
 }


 /*ALLERT*/




.b-alert{
	z-index: 110;
    z-index: 100;
    width:100vw;
    height:100vh;
    background-color: none;
    overflow:hidden;
    position:fixed;
    top:0%;
}


.after-adding-popup {
	z-index: 110;
	width: 96vw;
	height: 350px;
	position: absolute;
	bottom: 2vw;
	right: 2vw;
	background: #fff;
	box-shadow: -3px 7px 20px #747474;
	display: flex;
	align-items: center;
	justify-content: center;
}

.after-adding-popup_right {
	padding: 20px;
	font-family: 'Raleway', sans-serif;
	width: 56vw;
	height: 350px;
	/*display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;*/
}

.after-adding-popup_left img{
	width: 80vw;
	opacity: .8;
}

.after-adding-popup_left {
	background: #333;
	overflow: hidden;
	width: 40vw;
	height: 350px;
	
}

.after-adding-popup_right h1{
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 20px;
	color: #111;
	font-size: 17px;
}

.after-adding-popup_right p{
	color: #555;
	font-size: 12px;
}

.after-adding-popup_buttons {
	margin-top: 20px;
	width: 51vw;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}

.after-adding-popup_buttons a{
	text-decoration: none;
}

.after-adding-popup_buttons div{
	cursor: pointer;
	transition: .2s;
}

.after-adding-popup_buttons div:hover{
	transition: .2s;
	transform: translateY(-4px);
}

.after-adding-popup_buttons-tocart {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 20px 12px 20px;
	background: #FFEAD1;
	color: #222;
	font-size: 13px;
	border: 1px solid #FFEAD1;
	box-shadow: -3px 7px 20px #d4d4d4;
}

.after-adding-popup_buttons-contine {
	margin-left: 0px;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 20px 12px 20px;
	/*background: #FFEAD1;*/
	color: #222;
	font-size: 13px;
	border: 1px solid #222;
}

/*КОРЗИНА*/
.cart-wrapper {
	width: 100vw;
}

.cart-item-wrapper {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.cart-item {
	box-shadow: -3px 7px 40px #e5e5e5;
	margin-bottom: 20px;
	width: 90vw;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart-item-img {
	overflow: hidden;
	width: 100px;
	height: 100px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart-item-img img{
	width: 150%;
}

.cart-item-name {
	color: #222;
	font-size: 12px;
	font-weight: 600;
	font-family: 'Noah Black';
	width: 220px;
	height: 100px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 20px;
}

.cart-item-price {
	color: #222;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Noah Black';
	width: 100px;
	height: 100px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.with-sale-text {
	color: #555;
	font-size: 15px;
	font-weight: 300;
	font-family: 'Noah Black';
}

.cart-item-buttons {
	width: 70px;
	height: 100px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.minus {
	margin: 2px;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Noah Black';
}

.plus {
	margin: 2px;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Noah Black';
}

.delete {
	margin: 2px;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Noah Black';
}

.minus, .plus, .delete {
	border-radius: 50%;
	cursor: pointer;
	transition: 0.3s;
}

.minus:hover, .plus:hover, .delete:hover {
	background-color: #777;
}


a .order:hover{
	text-decoration: none;
}

.order {
	border: none;
	transition: 0.3s;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 0vw;
	width: 90vw;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #222;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Noah Black';
}

.order:hover {
	opacity: .8;
	background-color: #555;
}

.cart-item-cards-color {
	margin-bottom: 10px;
	margin-left: 12px;
	width: 90vw;
	min-height: 100px;
	display: flex;
	justify-content: flex-end;
}

.cart-item-card {
	width: 250px;
	height: 100px;
	display: flex;
	align-items: flex-start;

	justify-content: flex-end;
}

.cart-item-card div{
	cursor: pointer;
	transition: .2s;
	margin-right: 7px;
	width: 75px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	box-shadow: -1px 3px 10px #d5d5d5;
	color: #333;
	font-size: 18px;
	font-weight: 600;
	font-family: 'Noah Black';
}




.cart-item-card div img{
	width: 110%;
}

.cart-item-color {
	cursor: pointer;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart-item-color div{
	transition: .2s;
	margin-right: 16px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	box-shadow: -1px 7px 10px #d5d5d5;
}


.cart-item-card div:hover{
	transform: translateY(-7px);
}

.cart-item-color div:hover{
	transform: translateY(-7px);
}

.color-active {
	border: 5px solid #777;
	transform: translateY(-7px);
	box-shadow: -3px 12px 10px #333;
}

.card-active {
	border: 2px solid #777;
	transform: translateY(-7px);
	box-shadow: -3px 12px 10px #333;
}

.table-tr {
	margin-bottom: 30px;
	width: 1000px;
	display: none;
}

.table-tr div{
	color: #555;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Noah Black';
}


/*ФОРМА ОФОРМЛЕНИЯ ЗАКАЗА*/
label {
	color: #555;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Noah Black';
}


.buyinput {
	border: 1px solid #999;
	/*margin-left: 260px;*/
	margin-bottom: 15px;
	width: 80vw;
	height: 40px;
	border-radius: 0px;
	/*border: none;*/
	padding-left: 20px;
	color: #222;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Noah Black';
	background-color: #fff;
	box-shadow: -3px 7px 20px #f4f4f4;
}

.buyinputarea {
	resize: none;
	border: 1px solid #999;
	/*margin-left: 260px;*/
	margin-bottom: 15px;
	width: 80vw;
	height: 100px;
	padding-left: 20px;
	padding-top: 10px;
	color: #222;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Noah Black';
	background-color: #fff;
	box-shadow: -3px 7px 20px #f4f4f4;
}

a:hover {
	text-decoration: none;
}



.order-box-div {
	width: 90vw;
	margin-top: 60px;
	margin-left: 5vw;
}


.form_radio {
	margin-bottom: 10px;
}
.form_radio input[type=radio] {
	display: none;
}
.form_radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}
.form_radio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 18px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background: url(https://snipp.ru/img/radio-1.png) 0 0 no-repeat;
}
 
/* Checked */
.form_radio input[type=radio]:checked + label:before {
	background: url(https://snipp.ru/img/radio-2.png) 0 0 no-repeat;
}
 
/* Hover */
.form_radio label:hover:before {
	filter: brightness(120%);
}
 
/* Disabled */
.form_radio input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
}

.time {
	width: 198px;
	height: 40px;
}

.prepare_for_pay {
	width: 100vw;
	min-height: 100vh;	

}

.prepare-h1 {
	margin-top: 150px;
	width: 30vw;
	margin-left: 35vw;
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
}

.prepare_table {
	margin-top: 40px;
	margin-left: 35vw;
	width: 30vw;
}



.tinkoffPayRow {
	width: 400px;
	height: 40px;
	background: #222;
	color: #fff;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	border: none;
}

.table-header {
	font-weight: 300;
	padding: 5px;
	margin: 5px;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	font-size: 14px;
	color: #666;
}

.table-data {
	font-weight: 300;
	padding: 5px;
	margin: 5px;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	font-size: 18px;
	color: #333;
}

.prepare_table tr {
	margin: 10px;
}


.pay_layout {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f9f9f9;
}

.pay-box {
	width: 40vw;
	height: 40vw;
	background: #fff;
	box-shadow: 2px 5px 30px #d6d6d6;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.correct_pay_img {
	height: 150px;
	width: 150px;

}

.correct_pay_img img{
	width: 150px;
}

.pay-message {
	height: 150px;
	padding: 20px 100px 0 100px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

.pay-message h1{
	color: #111;
}

.pay-message p{
	margin-top: -7px;
	color: #777;
}

.pay-message a{
	text-decoration: none;
}

.pay-button {
	transition: .2s;
	box-shadow: 2px 5px 30px #b1b1b1;
	padding: 12px 22px 12px 22px;
	background: #FFEAD1;
	color: #111;
	font-family: 'Raleway', sans-serif;
	margin-top: 20px;
}


.pay-button:hover {
	transform: translateY(-4px);
}













.item-actual {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.categories-index-box {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.category-box {
	width: 90vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 40px;
}

.category-box h3 {
	padding-bottom: 10px;
	font-size: 15px;
	color: #555;
	font-family: 'Noah Black';
}

.category-box_img {
	width: 270px;
	height: 270px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.category-box_img img{
	height: 400px;
}

a .category-box-button{
	text-decoration: none;
	color: #444;
}

.category-box-button {
	transition: .3s;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Noah Medium';
	border: none;
	width: 200px;
	height: 50px;
	margin-top: 30px;
	background: #FFEAD1;
}

.category-box-button:hover {
	transform: translateY(-5px);
}


.head-h1-box {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.head-h1-box h1{
	padding-top: 10px;
	margin-top: 0px;
	color: #333;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.head-h1-box_line {
	width: 27vw;	
	height: 2px;
	background-color: #FFEAD1;
}


.production-php .mobile_header {
	margin-top: -22px;
}

.item-php .mobile_header {
	margin-top: 0px;
}

.production-wrapper {
	padding: 0px;
	margin-top: 0px;
	width: 100vw;
	display: flex;
	min-height: 100px;
	justify-content: center;
	align-items: center;
}

.production-wrapper .good-margin {
	margin: 10px;
}

.left-side-production {
	display: none;
	width: 200px;
	min-height: 100px;
}




/*карточка товара*/

.good-index {
	/*margin-bottom: 100px;*/
	/*margin-left: 5vw;*/
	transition: .3s;
	overflow: hidden;
	width: 42.5vw;
	min-height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/*box-shadow: -3px 7px 20px #e5e5e5;*/
}





.good-index-photo {
	width: 42.5vw;
	height: 50vw;
	position: relative;
}

.good-index-photo-img {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 42.5vw;
	height: 50vw;
	position: absolute;
	background-color: #fff;
	
}

.good-index-photo-img img{
	width: 42.5vw;
}

.good-index-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0px;
	width: 42.5vw;
	margin-bottom: 10px;
}

.good-index-name {
	/*margin-top: 20px;*/
	color: #222;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.good-index-price {
	margin-top: 10px;
	color: #555;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

a .good-box-button{
	text-decoration: none;
	color: #444;
}

.good-box-button {
	margin-top: 20px;
	transition: .3s;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
	border: none;
	width: 42.5vw;
	height: 40px;
	margin-top: 30px;
	background: #FFEAD1;
}

.good-box-button:hover {
	transform: translateY(-5px);
}


.about-wrapper-content {
	width: 1000px;
	min-height: 400px;
	margin-top: 30px;
}









.adrees-form-box {
	margin-top: 40px;
	width: 1000px;
	min-height: 200px;
	display: flex;
}

.adrees-box {
	width: 500px;
}

.form-box {
	width: 500px;
}




/* Стили полей ввода */

.textbox{

  height: 40px;

  width: 100%;

  border-radius:0px;

  border: black 1px solid;

  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;

  font-size: 13px; 

  padding: 10px;

  margin-bottom: 15px;  

}

.message:focus,

.textbox:focus{

  outline:none;

   border: #444 1px solid;

   color: #444;

}

/* Стили текстового поля */

.message{

    background: rgba(255, 255, 255, 0.4); 

    width:100%;

    height: 100px;

    border: #000 1px solid;

    box-sizing:border-box;

    /*-moz-border-radius: 3px;*/

    font-size: 13px; 

    font-family: 'Open Sans', sans-serif;

    -webkit-border-radius: 3px;

    border-radius: 3px; 

    display:block;

    padding:10px;

    margin-bottom:15px;

    overflow:hidden;

}

/* Базовые стили кнопки */

.buttontext{


  height:40px;

  width:100%;

  border-radius:3px;

  border:rgba(0,0,0,.3) 0px solid;

  box-sizing:border-box;


  background:black;

  color:#FFF;

  font-family: 'Open Sans', sans-serif;  

  font-weight:400;

  font-size: 13px;

  transition:background .4s;

  cursor:pointer;

}


.adrees-box ul {
	padding: 0px;
	margin: 0px;
}

.adrees-box ul li{
	list-style: none;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: 'Noah Medium';
	font-size: 15px;
}



}

@media (min-width:330px) and (max-width: 700px) {

.laptop {
	display: none;
}

.mobile {
	display: block;
}

.mobile-screen-header {
	z-index: 20;
	position: fixed;
	width: 100vw;
	height: 80px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mobile .h1-width-box {
	width: 90vw;
	margin-left: 5vw;
	padding-top: 80px;
}

/*.cart-php .mobile_header {
	margin-top: -23px;
}*/

#box {
	background: #fff;
	width: 100vw;
	height: 100vh;
	z-index: 9;
	position: fixed;
}

.mobile-menu {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 90;
	padding-top: 100px;
}

.mobile-menu a{
	text-decoration: none;
}

.mobile-menu_div {
	width: 90vw;
	padding-left: 8vw;
	margin-top: 20px;
	color: #333;
	font-size: 28px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.mobile-menu_div ul{
	margin: 0px;
	padding: 0px;
}

.mobile-menu_div ul li{
	font-size: 22px;
	padding: 5px 0 5px 0;
	color: #333;
	list-style: none;
}

.mobile-menu_div ul li:before{
	content: "- ";
}



.mobile_header {
	background: #fff;
	width: 100vw;
	height: 80px;
	position: fixed;
	z-index: 10;
}

.mobile_header_wrapper {
	width: 100vw;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mobile_header-burger {
	width: calc(100vw/3);
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 5vw;
}

.mobile_header-burger img{
	height: 35px;
}

.mobile_header-logo {
	width: calc(100vw/3);
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mobile_header-logo img{
	height: 50px;
}

.mobile_header-cart {
	width: calc(100vw/3);
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 5vw;
}

.mobile_header-cart img{
	height: 28px;
}





input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}


body{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}



.wrapper {
	width: 100vw;
	/*min-height: 100px;*/
	margin-left: auto;
	margin-right: auto;
}


.item-wrapper {
	margin-top: 0px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	min-height: 50vh;
	flex-direction: column;
	background: #fff;
}

.left-side-block {
	/*overflow: hidden;*/
	z-index: 1;
	padding-top: 80px;
	width: 100vw;
	min-height: 100px;
}

.left-side-block h2{
	margin-top: 60px;
	margin-bottom: 20px;
	color: #333;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.right-side-block {
	/*padding-bottom: 5vh;*/
	z-index: 2;
	/*padding-top: 80px;*/
	padding-left: 5vw;
	width: 100vw;
	min-height: 100px;
	/*box-shadow: -3px 7px 20px #777;*/
}

.left-side-block_img {
	transition: .3s;
	width: 100vw;
	height: 70vh;
	position: relative;
	box-shadow: -3px 7px 20px #d5d5d5;
	
}

.left-side-block_img_in{
	transition: .2s;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 70vh;
	position: absolute;

}

.left-side-block_img_in img{
	width: 110%;
	position: absolute;


}

.item-name {
	margin-top: 20px;
	color: #333;
	font-size: 30px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.right-side-block h2 {
	margin-top: 5vh;
	color: #666;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}



.item-into-cart {

	cursor: pointer;
	transition: .2s;
	box-shadow: -3px 7px 20px #d5d5d5;
	margin-top: 40px;
	width: 200px;
	padding: 15px 20px 15px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: #333;
	font-size: 17px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.item-into-cart:hover {
	box-shadow: -3px 7px 20px #b5b5b5;
	transform: translateY(-3px);
}

.about-item {
	width: 80vw;
	margin-left: 0vw;
	margin-top: 0px;
	color: #333;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.item-scale-buttons {
	width: 100vw;
	min-height: 140px;
	margin-top: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}


.item-scale-buttons ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}


.item-scale-buttons ul li {
	margin-bottom: 10px;
	color: #333;
	cursor: pointer;
	display: inline;
	transition: .2s;
	margin-right: 10px;
	box-shadow: -3px 7px 20px #e8e8e8;
	background: #FFEAD1;
	border-radius: 6px;
	width: 92px;
	height: 130px;
	padding: 10px 7px 10px 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}



.item-scale-buttons ul li:hover {
	background-color: #777;
	color: #fff;
	box-shadow: -3px 7px 20px #a5a5a5;
	transform: translateY(-6px);
}

.item-scale-buttons ul li.active {
	box-shadow: -3px 7px 20px #a5a5a5;
	background-color: #444;
	color: #FFEAD1;
	transform: translateY(-4px);
}



.scale-button:hover {
	box-shadow: -3px 7px 20px #b5b5b5;
	transform: translateY(-3px);
}



.scale {
	/*color: #333;*/
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.howmuch {
	text-align: center;
	margin-top: 10px;
	/*color: #333;*/
	font-size: 12px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.price {
	margin-top: 10px;
	/*color: #333;*/
	font-size: 15px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

/*СЛАЙДЕР*/

.single-slide {
	/*margin-top: 40px;*/
	width: 100vw;
	height: 100vh;
}


.content_slider-box {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.single-slide-content {
	text-shadow: 2px 2px 20px #444;
	width: 100vw;
	height: 100vh;
	position: absolute;
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.single-slide-content h1{
	/*margin-left: 60px;*/
	width: 100%;
	padding-left: 5vw;
	padding-right: 5vw;
	text-align: center;
	/*margin-top: 150px;*/
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	font-family: 'Noah Black';
}

.single-slide-content h2{
	/*margin-left: 60px;*/
	width: 100%;
	/*text-align: left;*/
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	font-family: 'Noah Black';
}

.single-slide-content h3{
	/*margin-left: 60px;*/
	width: 100%;
	text-align: left;
	color: #fff;
	font-size: 30px;
	font-weight: 300;
	font-family: 'Noah Heavy';
}

.single-slide-content h4{
	text-decoration: line-through;
	/*margin-left: 60px;*/
	width: 100%;
	text-align: left;
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	font-family: 'Noah Black';
}

a .single-slide-button{
	text-decoration: none;
	color: #111;
}

.single-slide-button {
	/*margin-left: 60px;*/
	transition: .3s;
	/*margin-left: 25%;*/
	/*margin-right: auto;*/
	font-size: 20px;
	font-weight: 300;
	font-family: 'Noah Medium';
	border: none;
	width: 200px;
	height: 50px;
	margin-top: 30px;
	background: #FFEAD1;
}

.single-slide-button:hover {
	transform: translateY(-5px);
}




.single-slide-img {
	background-color: #666;
	padding-bottom: 100px;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.single-slide-img img {
	margin-top: 80px;
	opacity: .7;
	transition: .4s;
	width: 300vw;
}

/*ФУТЕР*/

.footter {
	padding-top: 30px;
	border-top: 1px solid #fafafa;
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	min-height: 100px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 30px;
}

.footter div{
	text-align: center;
	font-family: 'Noah Medium';
	width: 100vw;
	min-height: 100px;
}

.footter div ul{
	margin: 0;
	padding: 0;
}

.footter__contacts {
	text-align: center;
}

.footter__moscow {
	text-align: center;
	font-size: 50px;
}


.footter div ul li{
	margin: 10px 0px 10px 0px;
	font-size: 16px;
	color: #444;
	list-style: none;
}




.networks {
	padding-top: 10px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
}



.networks_item {
	transition: 0.3s;
	margin-left: 3px;
	margin-right: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	float: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #444; 
}



.networks_item:hover {
	background: #666; 
}



.networks_item img{
	width: 33%;
}


.header-h1 {
	width: 100%;
	height: 100px;
}

.header-h1 h1 {
	color: #222;
	font-weight: 300;
	font-size: 40px;
	font-family: 'Noah Heavy';
}




/*ШАПКА*/


.header {
	width: 100%;
	height: 80px;
	background-color: #fff;  
	display: flex;
	align-items: center;
	justify-content: center;
	/*box-shadow: -3px 7px 20px #e5e5e5;*/
}

.logo {
	transition: .3s;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 80px;
	color: #222;
	font-size: 25px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.phone-number {
	transition: .3s;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 250px;
	height: 100%;
	color: #555;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Noah Medium';
}

.logo a img{
	margin-top: -4px;
	margin-right: 5px;
	height: 60px;
}

 .logo a{
 	color: #222;
	text-decoration: none;
}

 .logo a:hover{
 	color: #444;
	text-decoration: none;
}

.menu {
	padding-top: 7px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 370px;
	height: 100%;
	color: #222;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Noah Medium';
}

.menu ul li{
	transition: .3s;
	list-style: none;
	display: inline-block;
	margin: 5px 0px 5px 0px;
	padding: 15px 10px 15px 10px;
}

.menu ul li:hover{
	color: #666;
	transform: translateY(-3px);
}

.menu ul a li{
	text-decoration: none;
	color: #444;
}

.header-contacts {
	width: 220px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.header-cart {
	width: 100px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header-cart img{
	width: 30px;
	
}

.networks-header {
	padding-top: 45px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
}



.networks_item-header {
	transition: 0.3s;
	margin-left: 3px;
	margin-right: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background: #ddd; 
}



.networks_item-header:hover {
	background: #666; 
}



.networks_item-header img{
	width: 35%;
}

/*КАРТОЧКА ТОВАРА*/

.index-items-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 96vw;
	margin-left: 2vw;
	min-height: 100px;
}

.production-good-margin {
	margin: 10px;
}

.index-items-wrapper a:hover {
	text-decoration: none;
}

.good a:hover .good-content{
	text-decoration: none;
}

.good {
	transition: .3s;
	overflow: hidden;
	width: 240px;
	min-height: 100px;
	box-shadow: -3px 7px 20px #e5e5e5;
}

.good:hover {
	transform: translateY(-3px);
	overflow: hidden;
	width: 240px;
	min-height: 100px;
	box-shadow: -3px 7px 20px #c5c5c5;
}

.good-photo {
	width: 240px;
	height: 240px;
	position: relative;
}

.good-photo-img {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 240px;
	height: 240px;
	position: absolute;
	background-color: #fff;
	
}

a .good-photo-img {
	color: #333;
	font-family: 'Noah Medium';
	font-size: 18px;
}

.good-photo-img img{
	width: 150%;
}

.good-content {
	padding: 20px;
	width: 290px;
}

.good-name {
	/*margin-top: 20px;*/
	color: #222;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Noah Heavy';
}

.good-price {
	margin-top: 10px;
	color: #555;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Noah Medium';
}

.good-buttons {
	transition: .3s;
	display: flex;
	align-items: center;
	padding-left: 20px;
	height: 50px;
	width: 100%;
	color: #444;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Noah Medium';
	background: #fafafa;
}

.good:hover .good-buttons {
	background: #f1f1f1;
}

.good:hover .good-buttons img{
	transition: .3s;
	margin-left: 185px;
	width: 15px;
}



.good-buttons img{
	transition: .3s;
	margin-left: 10px;
	width: 15px;
}



/*ИНСТАГРАМ*/

.instagram {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 90vw;
	margin-left: 5vw;
}


.instphoto {
	margin-bottom: 10px;
	width: 44vw;
	height: 44vw;
	overflow: hidden;
	position: relative;
}

.instphoto:hover .hover{
	background: #555;
	opacity: 0.7;
	display: flex;
	justify-content: center;
	align-items: center;
}

.instphoto:hover .hover img{
	display: block;
}

.instphoto .hover img{
	transition: 0.3s;
	width: 20%;
	display: none;
}

.instphoto img{
	z-index: 1;
	width: 100%;
	position: absolute;
}

.hover {
	transition: 0.3s;
	z-index: 2;
	width: 100%;
	height: 100%;
	position: absolute;
}



/*ПРОДУКЦИЯ*/







h1 {
	padding-left: 0vw;
	padding-top: 0px;
	color: #333;
	font-weight: 600;
	font-family: 'Noah Black';
}

h1 span {
	padding-left: 30px;
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	font-family: 'Noah Black';
}

h1 span a{
	text-decoration: none;
	color: #fff;
	font-family: 'Noah Black';
}

h1 span a:hover{
	text-decoration: none;
	color: #fff;
}


.left-side-production h3 {
	color: #444;
}


#p_prldr{
position: fixed;
display: flex;
align-items: center;
justify-content: center;
left: 0;
top: 0;
right:0;
bottom:0;
background: #FFEAD1;
z-index: 30;
}

#p_prldr img{
	width: 100px;
}

.production-category {
	padding: 0;
	margin: 0;
	margin-top: 50px;
	list-style: none;
	font-size: 18px;
	color: #222;
	font-weight: 600;
	font-family: 'Noah Black';
}

.production-category li{
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
}

.production-category li img{
	width: 15px;
}

.left-side-production  ul a{
	color: #333;
	text-decoration: none;
}

.left-side-production ul a:hover{
	color: #666;
	text-decoration: none;
}
 



.active-photo-index {
	transition: .3s;
	z-index: 100;
 }


 /*ALLERT*/




.b-alert{
	z-index: 110;
    z-index: 100;
    width:100vw;
    height:100vh;
    background-color: none;
    overflow:hidden;
    position:fixed;
    top:0%;
}


.after-adding-popup {
	z-index: 110;
	width: 96vw;
	height: 350px;
	position: absolute;
	bottom: 2vw;
	right: 2vw;
	background: #fff;
	box-shadow: -3px 7px 20px #747474;
	display: flex;
	align-items: center;
	justify-content: center;
}

.after-adding-popup_right {
	padding: 20px;
	font-family: 'Raleway', sans-serif;
	width: 56vw;
	height: 350px;
	/*display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;*/
}

.after-adding-popup_left img{
	width: 80vw;
	opacity: .8;
}

.after-adding-popup_left {
	background: #333;
	overflow: hidden;
	width: 40vw;
	height: 350px;
	
}

.after-adding-popup_right h1{
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 20px;
	color: #111;
	font-size: 17px;
}

.after-adding-popup_right p{
	color: #555;
	font-size: 12px;
}

.after-adding-popup_buttons {
	margin-top: 20px;
	width: 51vw;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}

.after-adding-popup_buttons a{
	text-decoration: none;
}

.after-adding-popup_buttons div{
	cursor: pointer;
	transition: .2s;
}

.after-adding-popup_buttons div:hover{
	transition: .2s;
	transform: translateY(-4px);
}

.after-adding-popup_buttons-tocart {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 20px 12px 20px;
	background: #FFEAD1;
	color: #222;
	font-size: 13px;
	border: 1px solid #FFEAD1;
	box-shadow: -3px 7px 20px #d4d4d4;
}

.after-adding-popup_buttons-contine {
	margin-left: 0px;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 20px 12px 20px;
	/*background: #FFEAD1;*/
	color: #222;
	font-size: 13px;
	border: 1px solid #222;
}

/*КОРЗИНА*/
.cart-wrapper {
	width: 100vw;
}

.cart-item-wrapper {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.cart-item {
	box-shadow: -3px 7px 40px #e5e5e5;
	margin-bottom: 20px;
	width: 90vw;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart-item-img {
	overflow: hidden;
	width: 100px;
	height: 100px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart-item-img img{
	width: 150%;
}

.cart-item-name {
	color: #222;
	font-size: 12px;
	font-weight: 600;
	font-family: 'Noah Black';
	width: 220px;
	height: 100px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 20px;
}

.cart-item-price {
	color: #222;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Noah Black';
	width: 100px;
	height: 100px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.with-sale-text {
	color: #555;
	font-size: 15px;
	font-weight: 300;
	font-family: 'Noah Black';
}

.cart-item-buttons {
	width: 70px;
	height: 100px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.minus {
	margin: 2px;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Noah Black';
}

.plus {
	margin: 2px;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Noah Black';
}

.delete {
	margin: 2px;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Noah Black';
}

.minus, .plus, .delete {
	border-radius: 50%;
	cursor: pointer;
	transition: 0.3s;
}

.minus:hover, .plus:hover, .delete:hover {
	background-color: #777;
}


a .order:hover{
	text-decoration: none;
}

.order {
	border: none;
	transition: 0.3s;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 0vw;
	width: 90vw;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #222;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Noah Black';
}

.order:hover {
	opacity: .8;
	background-color: #555;
}

.cart-item-cards-color {
	margin-bottom: 10px;
	margin-left: 12px;
	width: 90vw;
	min-height: 100px;
	display: flex;
	justify-content: flex-end;
}

.cart-item-card {
	width: 250px;
	height: 100px;
	display: flex;
	align-items: flex-start;

	justify-content: flex-end;
}

.cart-item-card div{
	cursor: pointer;
	transition: .2s;
	margin-right: 7px;
	width: 75px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	box-shadow: -1px 3px 10px #d5d5d5;
	color: #333;
	font-size: 18px;
	font-weight: 600;
	font-family: 'Noah Black';
}




.cart-item-card div img{
	width: 110%;
}

.cart-item-color {
	cursor: pointer;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart-item-color div{
	transition: .2s;
	margin-right: 16px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	box-shadow: -1px 7px 10px #d5d5d5;
}


.cart-item-card div:hover{
	transform: translateY(-7px);
}

.cart-item-color div:hover{
	transform: translateY(-7px);
}

.color-active {
	border: 5px solid #777;
	transform: translateY(-7px);
	box-shadow: -3px 12px 10px #333;
}

.card-active {
	border: 2px solid #777;
	transform: translateY(-7px);
	box-shadow: -3px 12px 10px #333;
}

.table-tr {
	margin-bottom: 30px;
	width: 1000px;
	display: none;
}

.table-tr div{
	color: #555;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Noah Black';
}


/*ФОРМА ОФОРМЛЕНИЯ ЗАКАЗА*/
label {
	color: #555;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Noah Black';
}


.buyinput {
	border: 1px solid #999;
	/*margin-left: 260px;*/
	margin-bottom: 15px;
	width: 80vw;
	height: 40px;
	border-radius: 0px;
	/*border: none;*/
	padding-left: 20px;
	color: #222;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Noah Black';
	background-color: #fff;
	box-shadow: -3px 7px 20px #f4f4f4;
}

.buyinputarea {
	resize: none;
	border: 1px solid #999;
	/*margin-left: 260px;*/
	margin-bottom: 15px;
	width: 80vw;
	height: 100px;
	padding-left: 20px;
	padding-top: 10px;
	color: #222;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Noah Black';
	background-color: #fff;
	box-shadow: -3px 7px 20px #f4f4f4;
}

a:hover {
	text-decoration: none;
}



.order-box-div {
	width: 90vw;
	margin-top: 60px;
	margin-left: 5vw;
}


.form_radio {
	margin-bottom: 10px;
}
.form_radio input[type=radio] {
	display: none;
}
.form_radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}
.form_radio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 18px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background: url(https://snipp.ru/img/radio-1.png) 0 0 no-repeat;
}
 
/* Checked */
.form_radio input[type=radio]:checked + label:before {
	background: url(https://snipp.ru/img/radio-2.png) 0 0 no-repeat;
}
 
/* Hover */
.form_radio label:hover:before {
	filter: brightness(120%);
}
 
/* Disabled */
.form_radio input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
}

.time {
	width: 198px;
	height: 40px;
}

.prepare_for_pay {
	width: 100vw;
	min-height: 100vh;	

}

.prepare-h1 {
	margin-top: 150px;
	width: 30vw;
	margin-left: 35vw;
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
}

.prepare_table {
	margin-top: 40px;
	margin-left: 35vw;
	width: 30vw;
}



.tinkoffPayRow {
	width: 400px;
	height: 40px;
	background: #222;
	color: #fff;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	border: none;
}

.table-header {
	font-weight: 300;
	padding: 5px;
	margin: 5px;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	font-size: 14px;
	color: #666;
}

.table-data {
	font-weight: 300;
	padding: 5px;
	margin: 5px;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	font-size: 18px;
	color: #333;
}

.prepare_table tr {
	margin: 10px;
}


.pay_layout {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f9f9f9;
}

.pay-box {
	width: 40vw;
	height: 40vw;
	background: #fff;
	box-shadow: 2px 5px 30px #d6d6d6;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.correct_pay_img {
	height: 150px;
	width: 150px;

}

.correct_pay_img img{
	width: 150px;
}

.pay-message {
	height: 150px;
	padding: 20px 100px 0 100px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

.pay-message h1{
	color: #111;
}

.pay-message p{
	margin-top: -7px;
	color: #777;
}

.pay-message a{
	text-decoration: none;
}

.pay-button {
	transition: .2s;
	box-shadow: 2px 5px 30px #b1b1b1;
	padding: 12px 22px 12px 22px;
	background: #FFEAD1;
	color: #111;
	font-family: 'Raleway', sans-serif;
	margin-top: 20px;
}


.pay-button:hover {
	transform: translateY(-4px);
}













.item-actual {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.categories-index-box {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.category-box {
	width: 90vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 40px;
}

.category-box h3 {
	padding-bottom: 10px;
	font-size: 15px;
	color: #555;
	font-family: 'Noah Black';
}

.category-box_img {
	width: 270px;
	height: 270px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.category-box_img img{
	height: 400px;
}

a .category-box-button{
	text-decoration: none;
	color: #444;
}

.category-box-button {
	transition: .3s;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Noah Medium';
	border: none;
	width: 200px;
	height: 50px;
	margin-top: 30px;
	background: #FFEAD1;
}

.category-box-button:hover {
	transform: translateY(-5px);
}


.head-h1-box {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.head-h1-box h1{
	padding-top: 10px;
	margin-top: 0px;
	color: #333;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.head-h1-box_line {
	width: 27vw;	
	height: 2px;
	background-color: #FFEAD1;
}


.production-php .mobile_header {
	margin-top: -22px;
}

.item-php .mobile_header {
	margin-top: 0px;
}

.production-wrapper {
	padding: 0px;
	margin-top: 0px;
	width: 100vw;
	display: flex;
	min-height: 100px;
	justify-content: center;
	align-items: center;
}

.production-wrapper .good-margin {
	margin: 10px;
}

.left-side-production {
	display: none;
	width: 200px;
	min-height: 100px;
}

.right-side-production {
	padding-top: 0px;
	width: 96vw;
	margin-left: 2vw;
	margin-left: 0vw;
	min-height: 300px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	/*flex-direction: column;*/
}


/*карточка товара*/

.good-index {
	/*margin-bottom: 100px;*/
	/*margin-left: 5vw;*/
	transition: .3s;
	overflow: hidden;
	width: 42.5vw;
	min-height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/*box-shadow: -3px 7px 20px #e5e5e5;*/
}





.good-index-photo {
	width: 42.5vw;
	height: 50vw;
	position: relative;
}

.good-index-photo-img {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 42.5vw;
	height: 50vw;
	position: absolute;
	background-color: #fff;
	
}

.good-index-photo-img img{
	width: 42.5vw;
}

.good-index-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0px;
	width: 42.5vw;
	margin-bottom: 10px;
}

.good-index-name {
	/*margin-top: 20px;*/
	color: #222;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.good-index-price {
	margin-top: 10px;
	color: #555;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

a .good-box-button{
	text-decoration: none;
	color: #444;
}

.good-box-button {
	margin-top: 20px;
	transition: .3s;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
	border: none;
	width: 42.5vw;
	height: 40px;
	margin-top: 30px;
	background: #FFEAD1;
}

.good-box-button:hover {
	transform: translateY(-5px);
}


.about-wrapper-content {
	width: 1000px;
	min-height: 400px;
	margin-top: 30px;
}









.adrees-form-box {
	margin-top: 40px;
	width: 1000px;
	min-height: 200px;
	display: flex;
}

.adrees-box {
	width: 500px;
}

.form-box {
	width: 500px;
}




/* Стили полей ввода */

.textbox{

  height: 40px;

  width: 100%;

  border-radius:0px;

  border: black 1px solid;

  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;

  font-size: 13px; 

  padding: 10px;

  margin-bottom: 15px;  

}

.message:focus,

.textbox:focus{

  outline:none;

   border: #444 1px solid;

   color: #444;

}

/* Стили текстового поля */

.message{

    background: rgba(255, 255, 255, 0.4); 

    width:100%;

    height: 100px;

    border: #000 1px solid;

    box-sizing:border-box;

    /*-moz-border-radius: 3px;*/

    font-size: 13px; 

    font-family: 'Open Sans', sans-serif;

    -webkit-border-radius: 3px;

    border-radius: 3px; 

    display:block;

    padding:10px;

    margin-bottom:15px;

    overflow:hidden;

}

/* Базовые стили кнопки */

.buttontext{


  height:40px;

  width:100%;

  border-radius:3px;

  border:rgba(0,0,0,.3) 0px solid;

  box-sizing:border-box;


  background:black;

  color:#FFF;

  font-family: 'Open Sans', sans-serif;  

  font-weight:400;

  font-size: 13px;

  transition:background .4s;

  cursor:pointer;

}


.adrees-box ul {
	padding: 0px;
	margin: 0px;
}

.adrees-box ul li{
	list-style: none;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: 'Noah Medium';
	font-size: 15px;
}



}